main {
  background-color: var(--gray-100);
  max-width: 57.5rem;
  width: 100%;

  height: 100%;
  margin: 14.5rem auto;
  border-radius: var(--radius-xs);
  text-align: center;
  padding: 0 2.8rem;
}

.heading-container {
  border-bottom: 1px solid var(--gray-200);
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.thank-you-container {
  border-bottom: 1px solid var(--gray-200);
  padding-bottom: 2rem;
  padding-top: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  gap: 1rem;
}

.title {
  font-size: 3rem;
}

.description {
  font-size: 1.8rem;
}

.client-container {
  display: flex;
  flex-flow: column wrap;
  gap: 0.5rem;

  padding: 4.2rem 0;
}

.client-data-container {
  display: flex;
  flex-flow: row wrap;

  > div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    > h2 {
      font-weight: 700;
      font-size: 1.8rem;
    }
  }
}

.ph-check-fat {
  font-size: 5rem;
  color: green;
}

.ph-smiley,
.ph-identification-card,
.ph-timer {
  font-size: 3.5rem;
}
